[flake8]
# Другие настройки flake8...
# ignore line too long
ignore = E501 PLC301 PLC413 PLR903 PLR913 PLR902 PLR914 S311 PLR904 W503 PLC114 PLC115 PLW309 PLW511
# Добавь новые плагины
plugins =
    flake8_black,
    flake8_bandit,
    flake8_isort,
    flake8_pylint